
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Bitbay"
    },
    "host": "xchange-bitbay.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/Public/{currencyPair}/orderbook.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitbayOrderBook"
                        }
                    }
                }
            }
        },
        "/Public/{currencyPair}/ticker.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitbayTicker"
                        }
                    }
                }
            }
        },
        "/Public/{currencyPair}/trades.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "since",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "sort",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitbayTrade"
                        }
                    }
                }
            }
        },
        "/Trading/tradingApi.php": {
            "post": {
                "description": "orders - list of all your offers Input: (optional) limit : number of rows to show; if no\nspecified, returns latest 50 orders\ntrade - places offer at the stock market Input: type : offer type bid/buy or ask/sell currency\n: shortcut of main currency for offer (e.g. “BTC”) amount : quantity of main currency\npayment_currency : shortcut of currency used to pay for offer (e.g. “PLN”) rate : rate for\noffer\ninfo - returns information about account balances\ncancel - removes offer from the stock market Input: id : id used to recognize offer; you get it\nfrom trade method output",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Hash",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "account",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "bic",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "express",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "market",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "moment",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "payment_currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "quantity",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "rate",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "type",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitbayBaseResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "BigDecimal": {
            "properties": {
            }
        },
        "BitbayBaseResponse": {
            "properties": {
                "code": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "BitbayOrderBook": {
            "properties": {
                "asks": {
                    "$ref": "#/definitions/BigDecimal"
                },
                "bids": {
                    "$ref": "#/definitions/BigDecimal"
                }
            }
        },
        "BitbayTicker": {
            "properties": {
                "ask": {
                    "type": "number"
                },
                "average": {
                    "type": "number"
                },
                "bid": {
                    "type": "number"
                },
                "last": {
                    "type": "number"
                },
                "max": {
                    "type": "number"
                },
                "min": {
                    "type": "number"
                },
                "volume": {
                    "type": "number"
                },
                "vwap": {
                    "type": "number"
                }
            }
        },
        "BitbayTrade": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "date": {
                    "type": "integer"
                },
                "price": {
                    "type": "number"
                },
                "tid": {
                    "type": "string"
                }
            }
        }
    }
}