
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange BitcoinToYou"
    },
    "host": "xchange-bitcointoyou.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "API"
        }
    ],
    "paths": {
        "/API/balance.aspx": {
            "get": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitcointoyouBalance"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            }
        },
        "/API/createorder.aspx": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "action",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "asset",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitcointoyouOrderResponse"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            }
        },
        "/API/deleteorders.aspx": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            }
        },
        "/API/getorders.aspx": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitcointoyouOrderResponse"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            }
        },
        "/API/getorders.aspx?status=CANCELED": {
            "get": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            }
        },
        "/API/getorders.aspx?status=EXECUTED": {
            "get": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            }
        },
        "/API/getorders.aspx?status=OPEN": {
            "get": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitcointoyouOrderResponse"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            }
        },
        "/API/orderbook.aspx": {
            "get": {
                "description": "Get the public order book at Bitcointoyou Exchange",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitcointoyouOrderBook"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            }
        },
        "/API/ticker.aspx": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            }
        },
        "/API/trades.aspx": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "tid",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitcointoyouPublicTrade"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            }
        }
    },
    "definitions": {
        "BigDecimal;>": {
            "properties": {
            }
        },
        "BitcointoyouBalance": {
            "properties": {
                "date": {
                    "type": "string"
                },
                "error": {
                    "type": "string"
                },
                "oReturn": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigDecimal;>"
                    }
                },
                "success": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "string"
                }
            }
        },
        "BitcointoyouOrderBook": {
            "properties": {
                "asks": {
                    "type": "array",
                    "items": {
                        "type": "number"
                    }
                },
                "bids": {
                    "type": "array",
                    "items": {
                        "type": "number"
                    }
                }
            }
        },
        "BitcointoyouOrderResponse": {
            "properties": {
                "date": {
                    "type": "string"
                },
                "error": {
                    "type": "string"
                },
                "success": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "string"
                }
            }
        },
        "BitcointoyouPublicTrade": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                },
                "date": {
                    "type": "integer"
                },
                "price": {
                    "type": "number"
                },
                "tid": {
                    "type": "integer"
                },
                "type": {
                    "type": "string"
                }
            }
        }
    }
}