
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Bitcoin Core"
    },
    "host": "xchange-bitcoincore.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": ""
        }
    ],
    "paths": {
        "/": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BitcoinCoreUnconfirmedBalanceRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitcoinCoreBalanceResponse"
                        }
                    }
                },
                "tags": [
                    ""
                ]
            }
        }
    },
    "definitions": {
        "BitcoinCoreBalanceResponse": {
            "properties": {
                "amount": {
                    "type": "number"
                }
            }
        },
        "BitcoinCoreUnconfirmedBalanceRequest": {
            "properties": {
                "method": {
                    "type": "string"
                }
            }
        }
    }
}