
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Bitcoin Bitmarket"
    },
    "host": "xchange-bitmarket.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "api2"
        },
        {
            "name": "json"
        }
    ],
    "paths": {
        "/api2": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Hash",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "count",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "market",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "rate",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "start",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "tonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "type",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitMarketHistoryTradesResponse"
                        }
                    }
                },
                "tags": [
                    "api2"
                ]
            }
        },
        "/json/{currencyPair}/orderbook.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitMarketOrderBook"
                        }
                    }
                },
                "tags": [
                    "json"
                ]
            }
        },
        "/json/{currencyPair}/ticker.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitMarketTicker"
                        }
                    }
                },
                "tags": [
                    "json"
                ]
            }
        },
        "/json/{currencyPair}/trades.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitMarketTrade"
                        }
                    }
                },
                "tags": [
                    "json"
                ]
            }
        }
    },
    "definitions": {
        "BigDecimal": {
            "properties": {
            }
        },
        "BitMarketAPILimit": {
            "properties": {
                "allowed": {
                    "type": "integer"
                },
                "expires": {
                    "type": "integer"
                },
                "used": {
                    "type": "integer"
                }
            }
        },
        "BitMarketHistoryTradesResponse": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "integer"
                },
                "errorMsg": {
                    "type": "string"
                },
                "limit": {
                    "$ref": "#/definitions/BitMarketAPILimit"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "BitMarketOrderBook": {
            "properties": {
                "asks": {
                    "$ref": "#/definitions/BigDecimal"
                },
                "bids": {
                    "$ref": "#/definitions/BigDecimal"
                }
            }
        },
        "BitMarketTicker": {
            "properties": {
                "ask": {
                    "type": "number"
                },
                "bid": {
                    "type": "number"
                },
                "high": {
                    "type": "number"
                },
                "last": {
                    "type": "number"
                },
                "low": {
                    "type": "number"
                },
                "volume": {
                    "type": "number"
                },
                "vwap": {
                    "type": "number"
                }
            }
        },
        "BitMarketTrade": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "date": {
                    "type": "integer"
                },
                "price": {
                    "type": "number"
                },
                "tid": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        }
    }
}