
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Bitstamp"
    },
    "host": "xchange-bitstamp.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/api/bitcoin_deposit_address": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampDepositAddress"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/bitcoin_withdrawal": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampWithdrawal"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/buy": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampOrder"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/cancel_all_orders": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "boolean"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/cancel_order": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "boolean"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/open_orders": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampOrder_2"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/order_book": {
            "get": {
                "description": "Returns \"bids\" and \"asks\". Each is a list of open orders and each order is represented as a\nlist of price and amount.",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampOrderBook"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/order_status": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampOrderStatusResponse"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/ripple_address": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampRippleDepositAddress"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/ripple_withdrawal": {
            "post": {
                "description": "Note that due to a bug on Bitstamp's side, withdrawal always fails if two-factor authentication\nis enabled for the account.",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "boolean"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/sell": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampOrder"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/ticker": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampTicker"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/transactions": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "time",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampTransaction"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/unconfirmed_btc": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/DepositTransaction"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/user_transactions": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "offset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "sort",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampUserTransaction"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v2/balance": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampBalance"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v2/bch_withdrawal": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampWithdrawal"
                        }
                    }
                }
            }
        },
        "/api/v2/eth_address": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampDepositAddress"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v2/eth_withdrawal": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampWithdrawal"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v2/ltc_address": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampDepositAddress"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v2/ltc_withdrawal": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampWithdrawal"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v2/open_orders/{pair}": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampOrder_2"
                        }
                    }
                }
            }
        },
        "/api/v2/order_book/{pair}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampOrderBook"
                        }
                    }
                }
            }
        },
        "/api/v2/ticker/{pair}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampTicker"
                        }
                    }
                }
            }
        },
        "/api/v2/transactions/{pair}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "enum": [
                            "DAY",
                            "HOUR",
                            "MINUTE"
                        ],
                        "name": "time",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampTransaction"
                        }
                    }
                }
            }
        },
        "/api/v2/transfer-to-main": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "subAccount",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampTransferBalanceResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/user_transactions": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "offset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "sort",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampUserTransaction"
                        }
                    }
                }
            }
        },
        "/api/v2/user_transactions/{pair}": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "offset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "sort",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampUserTransaction"
                        }
                    }
                }
            }
        },
        "/api/v2/withdrawal-requests": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "timedelta",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/WithdrawalRequest"
                        }
                    }
                }
            }
        },
        "/api/v2/xrp_withdrawal": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "destination_tag",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampWithdrawal"
                        }
                    }
                }
            }
        },
        "/api/v2/{side}/market/{pair}": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "enum": [
                            "buy",
                            "sell"
                        ],
                        "name": "side",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampOrder"
                        }
                    }
                }
            }
        },
        "/api/v2/{side}/{pair}": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "enum": [
                            "buy",
                            "sell"
                        ],
                        "name": "side",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BitstampOrder"
                        }
                    }
                }
            }
        },
        "/api/withdrawal_requests": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/WithdrawalRequest"
                        }
                    }
                },
                "deprecated": true
            }
        }
    },
    "definitions": {
        "BitstampBalance": {
            "properties": {
                "balances": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BitstampBalance$Balance"
                    }
                },
                "error": {
                    "type": "string"
                },
                "fee": {
                    "type": "number"
                }
            }
        },
        "BitstampBalance$Balance": {
            "properties": {
                "available": {
                    "type": "number"
                },
                "balance": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                },
                "reserved": {
                    "type": "number"
                }
            }
        },
        "BitstampDepositAddress": {
            "properties": {
                "depositAddress": {
                    "type": "string"
                },
                "error": {
                    "type": "string"
                }
            }
        },
        "BitstampOrder": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "datetime": {
                    "type": "object"
                },
                "id": {
                    "type": "integer"
                },
                "price": {
                    "type": "number"
                },
                "type": {
                    "type": "integer"
                }
            }
        },
        "BitstampOrderBook": {
            "properties": {
                "asks": {
                    "type": "array",
                    "items": {
                        "type": "number"
                    }
                },
                "bids": {
                    "type": "array",
                    "items": {
                        "type": "number"
                    }
                },
                "timestamp": {
                    "type": "object"
                }
            }
        },
        "BitstampOrderStatusResponse": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "Finished",
                        "Open",
                        "Queue"
                    ]
                },
                "transactions": {
                    "$ref": "#/definitions/BitstampOrderTransaction"
                }
            }
        },
        "BitstampOrderTransaction": {
            "properties": {
                "bch": {
                    "type": "number"
                },
                "btc": {
                    "type": "number"
                },
                "datetime": {
                    "type": "object"
                },
                "eth": {
                    "type": "number"
                },
                "eur": {
                    "type": "number"
                },
                "fee": {
                    "type": "number"
                },
                "ltc": {
                    "type": "number"
                },
                "price": {
                    "type": "number"
                },
                "tid": {
                    "type": "integer"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "deposit",
                        "rippleDeposit",
                        "rippleWithdrawal",
                        "subAccountTransfer",
                        "trade",
                        "withdrawal"
                    ]
                },
                "usd": {
                    "type": "number"
                },
                "xrp": {
                    "type": "number"
                }
            }
        },
        "BitstampOrder_2": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "datetime": {
                    "type": "object"
                },
                "id": {
                    "type": "integer"
                },
                "price": {
                    "type": "number"
                },
                "type": {
                    "type": "integer"
                }
            }
        },
        "BitstampRippleDepositAddress": {
            "properties": {
                "addressAndDt": {
                    "type": "string"
                }
            }
        },
        "BitstampTicker": {
            "properties": {
                "ask": {
                    "type": "number"
                },
                "bid": {
                    "type": "number"
                },
                "high": {
                    "type": "number"
                },
                "last": {
                    "type": "number"
                },
                "low": {
                    "type": "number"
                },
                "timestamp": {
                    "type": "integer"
                },
                "volume": {
                    "type": "number"
                },
                "vwap": {
                    "type": "number"
                }
            }
        },
        "BitstampTransaction": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "date": {
                    "type": "integer"
                },
                "price": {
                    "type": "number"
                },
                "tid": {
                    "type": "integer"
                },
                "type": {
                    "type": "integer"
                }
            }
        },
        "BitstampTransferBalanceResponse": {
            "properties": {
                "reason": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "BitstampUserTransaction": {
            "properties": {
                "amounts": {
                    "type": "object"
                },
                "baseAmount": {
                    "type": "number"
                },
                "baseCurrency": {
                    "type": "string"
                },
                "counterAmount": {
                    "type": "number"
                },
                "counterCurrency": {
                    "type": "string"
                },
                "datetime": {
                    "type": "object"
                },
                "deposit": {
                    "type": "boolean"
                },
                "fee": {
                    "type": "number"
                },
                "feeCurrency": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "marketTrade": {
                    "type": "boolean"
                },
                "orderId": {
                    "type": "integer"
                },
                "price": {
                    "type": "number"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "deposit",
                        "rippleDeposit",
                        "rippleWithdrawal",
                        "subAccountTransfer",
                        "trade",
                        "withdrawal"
                    ]
                },
                "withdrawal": {
                    "type": "boolean"
                }
            }
        },
        "BitstampWithdrawal": {
            "properties": {
                "error": {
                    "type": "object"
                },
                "id": {
                    "type": "integer"
                },
                "reason": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "DepositTransaction": {
            "properties": {
                "address": {
                    "type": "string"
                },
                "amount": {
                    "type": "number"
                },
                "confirmations": {
                    "type": "integer"
                }
            }
        },
        "WithdrawalRequest": {
            "properties": {
                "address": {
                    "type": "string"
                },
                "amount": {
                    "type": "number"
                },
                "data": {
                    "type": "string"
                },
                "datetime": {
                    "type": "object"
                },
                "id": {
                    "type": "integer"
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "canceled",
                        "failed",
                        "finished",
                        "in_process",
                        "open",
                        "unknown"
                    ]
                },
                "statusOriginal": {
                    "type": "string"
                },
                "transactionId": {
                    "type": "string"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "SEPA",
                        "XRP",
                        "bitcoin",
                        "litecoin",
                        "rippleBTC",
                        "rippleUSD",
                        "unknown",
                        "wire"
                    ]
                }
            }
        }
    }
}