
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Coinmate"
    },
    "host": "xchange-coinmate.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "api"
        }
    ],
    "paths": {
        "/api/balances": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateBalance"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/bitcoinDepositAddresses": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateDepositAddresses"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/bitcoinWithdrawal": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateTradeResponse"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/buyInstant": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "total",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateTradeResponse"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/buyLimit": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateTradeResponse"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/cancelOrder": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "orderId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateCancelOrderResponse"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/cancelOrderWithInfo": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "orderId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateCancelOrderWithInfoResponse"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/openOrders": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateOpenOrders"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/orderBook": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "name": "groupByPriceLimit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateOrderBook"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/orderHistory": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateOrderHistory"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/sellInstant": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateTradeResponse"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/sellLimit": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateTradeResponse"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/ticker": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateTicker"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/transactionHistory": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "clientId",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "offset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "publicKey",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "signature",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "sort",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateTransactionHistory"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/transactions": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "minutesIntoHistory",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CoinmateTransactions"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        }
    },
    "definitions": {
        "CoinmateBalance": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "CoinmateCancelOrderResponse": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "CoinmateCancelOrderWithInfoResponse": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "CoinmateDepositAddresses": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "CoinmateOpenOrders": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "CoinmateOrderBook": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "CoinmateOrderHistory": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "CoinmateTicker": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "CoinmateTradeResponse": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "CoinmateTransactionHistory": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "CoinmateTransactions": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        }
    }
}