
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Cryptopia"
    },
    "host": "xchange-cryptopia.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "api"
        }
    ],
    "paths": {
        "/api/CancelTrade": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cryptopia$CancelTradeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/List;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetBalance": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetCurrencies": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaCurrency;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetDepositAddress": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cryptopia$GetDepositAddressRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetMarket/{market}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "market",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaTicker;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetMarket/{market}/{hours}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "name": "hours",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "market",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaTicker;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetMarketHistory/{market}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "market",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaMarketHistory;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetMarketHistory/{market}/{hours}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "name": "hours",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "market",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaMarketHistory;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetMarketOrders/{market}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "market",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaOrderBook;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetMarketOrders/{market}/{orderCount}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "market",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "orderCount",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaOrderBook;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetMarkets": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaTicker;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetMarkets/{baseMarket}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "baseMarket",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaTicker;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetMarkets/{baseMarket}/{hours}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "baseMarket",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "hours",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaTicker;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetOpenOrders": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cryptopia$GetOpenOrdersRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetTradeHistory": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cryptopia$GetTradeHistoryRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetTradePairs": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/CryptopiaTradePair;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/GetTransactions": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cryptopia$GetTransactionsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/SubmitTrade": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cryptopia$SubmitTradeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/SubmitTransfer": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cryptopia$SubmitTransferRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/String;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/SubmitWithdraw": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cryptopia$SubmitWithdrawRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Long;>"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        }
    },
    "definitions": {
        "Cryptopia$CancelTradeRequest": {
            "properties": {
                "orderId": {
                    "type": "string"
                },
                "tradePairId": {
                    "type": "integer"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "Cryptopia$GetDepositAddressRequest": {
            "properties": {
                "currency": {
                    "type": "string"
                }
            }
        },
        "Cryptopia$GetOpenOrdersRequest": {
            "properties": {
                "count": {
                    "type": "integer"
                },
                "market": {
                    "type": "string"
                }
            }
        },
        "Cryptopia$GetTradeHistoryRequest": {
            "properties": {
                "count": {
                    "type": "integer"
                },
                "market": {
                    "type": "string"
                }
            }
        },
        "Cryptopia$GetTransactionsRequest": {
            "properties": {
                "count": {
                    "type": "integer"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "Cryptopia$SubmitTradeRequest": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "market": {
                    "type": "string"
                },
                "rate": {
                    "type": "number"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "Cryptopia$SubmitTransferRequest": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "Cryptopia$SubmitWithdrawRequest": {
            "properties": {
                "address": {
                    "type": "string"
                },
                "amount": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                },
                "paymentId": {
                    "type": "string"
                }
            }
        },
        "CryptopiaCurrency": {
            "properties": {
                "algorithm": {
                    "type": "string"
                },
                "depositConfirmations": {
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "listingStatus": {
                    "type": "string"
                },
                "maxWithdraw": {
                    "type": "number"
                },
                "minBaseTrade": {
                    "type": "number"
                },
                "minTip": {
                    "type": "number"
                },
                "minWithdraw": {
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                },
                "symbol": {
                    "type": "string"
                },
                "tipEnabled": {
                    "type": "boolean"
                },
                "withdrawFee": {
                    "type": "number"
                }
            }
        },
        "CryptopiaCurrency;>;>": {
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CryptopiaCurrency"
                    }
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "CryptopiaMarketHistory": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "label": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "timestamp": {
                    "type": "integer"
                },
                "total": {
                    "type": "number"
                },
                "tradePairId": {
                    "type": "integer"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "CryptopiaMarketHistory;>;>": {
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CryptopiaMarketHistory"
                    }
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "CryptopiaOrder": {
            "properties": {
                "label": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "total": {
                    "type": "number"
                },
                "tradePairId": {
                    "type": "integer"
                },
                "volume": {
                    "type": "number"
                }
            }
        },
        "CryptopiaOrderBook": {
            "properties": {
                "asks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CryptopiaOrder"
                    }
                },
                "bids": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CryptopiaOrder"
                    }
                }
            }
        },
        "CryptopiaOrderBook;>": {
            "properties": {
                "data": {
                    "$ref": "#/definitions/CryptopiaOrderBook"
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "CryptopiaTicker": {
            "properties": {
                "ask": {
                    "type": "number"
                },
                "baseVolume": {
                    "type": "number"
                },
                "bid": {
                    "type": "number"
                },
                "buyBaseVolume": {
                    "type": "number"
                },
                "buyVolume": {
                    "type": "number"
                },
                "change": {
                    "type": "number"
                },
                "close": {
                    "type": "number"
                },
                "high": {
                    "type": "number"
                },
                "label": {
                    "type": "string"
                },
                "last": {
                    "type": "number"
                },
                "low": {
                    "type": "number"
                },
                "open": {
                    "type": "number"
                },
                "sellBaseVolume": {
                    "type": "number"
                },
                "sellVolume": {
                    "type": "number"
                },
                "tradePairId": {
                    "type": "integer"
                },
                "volume": {
                    "type": "number"
                }
            }
        },
        "CryptopiaTicker;>": {
            "properties": {
                "data": {
                    "$ref": "#/definitions/CryptopiaTicker"
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "CryptopiaTicker;>;>": {
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CryptopiaTicker"
                    }
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "CryptopiaTradePair": {
            "properties": {
                "baseCurrency": {
                    "type": "string"
                },
                "baseSymbol": {
                    "type": "string"
                },
                "currency": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "label": {
                    "type": "string"
                },
                "maximumBaseTrade": {
                    "type": "number"
                },
                "maximumPrice": {
                    "type": "number"
                },
                "maximumTrade": {
                    "type": "number"
                },
                "minimumBaseTrade": {
                    "type": "number"
                },
                "minimumPrice": {
                    "type": "number"
                },
                "minimumTrade": {
                    "type": "number"
                },
                "status": {
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                },
                "symbol": {
                    "type": "string"
                },
                "tradeFee": {
                    "type": "number"
                }
            }
        },
        "CryptopiaTradePair;>;>": {
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CryptopiaTradePair"
                    }
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "List;>": {
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Object"
                    }
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "Long;>": {
            "properties": {
                "data": {
                    "type": "integer"
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "Map": {
            "properties": {
            }
        },
        "Map;>": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "Map;>;>": {
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Map"
                    }
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "Object": {
            "properties": {
            }
        },
        "String;>": {
            "properties": {
                "data": {
                    "type": "string"
                },
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        }
    }
}