
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange EmpoEX"
    },
    "host": "xchange-empoex.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "account"
        },
        {
            "name": "markethistory"
        },
        {
            "name": "marketinfo"
        },
        {
            "name": "orderbook"
        },
        {
            "name": "trade"
        }
    ],
    "paths": {
        "/account/balance/{apiKey}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "apiKey",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "account"
                ]
            }
        },
        "/markethistory/{pairString}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pairString",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "markethistory"
                ]
            }
        },
        "/marketinfo": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/EmpoExTicker"
                            }
                        }
                    }
                },
                "tags": [
                    "marketinfo"
                ]
            }
        },
        "/marketinfo/{pairString}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pairString",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/EmpoExTicker"
                            }
                        }
                    }
                },
                "tags": [
                    "marketinfo"
                ]
            }
        },
        "/orderbook/{pairString}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pairString",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "orderbook"
                ]
            }
        },
        "/trade/buy/{apiKey}/{pairString}/{amount}/{price}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "apiKey",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "pairString",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/EmpoExOrderResponse"
                        }
                    }
                },
                "tags": [
                    "trade"
                ]
            }
        },
        "/trade/cancel/{apiKey}/{orderId}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "apiKey",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "orderId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "trade"
                ]
            }
        },
        "/trade/openorders/{apiKey}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "apiKey",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "trade"
                ]
            }
        },
        "/trade/sell/{apiKey}/{pairString}/{amount}/{price}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "apiKey",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "pairString",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/EmpoExOrderResponse"
                        }
                    }
                },
                "tags": [
                    "trade"
                ]
            }
        }
    },
    "definitions": {
        "EmpoExOrderResponse": {
            "properties": {
                "message": {
                    "type": "string"
                },
                "orderId": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "EmpoExTicker": {
            "properties": {
                "ask": {
                    "type": "string"
                },
                "baseVolume24hr": {
                    "type": "string"
                },
                "bid": {
                    "type": "string"
                },
                "change": {
                    "type": "string"
                },
                "high": {
                    "type": "string"
                },
                "last": {
                    "type": "string"
                },
                "low": {
                    "type": "string"
                },
                "openBuyVolume": {
                    "type": "string"
                },
                "openBuyVolumeBase": {
                    "type": "string"
                },
                "openSellVolume": {
                    "type": "string"
                },
                "openSellVolumeBase": {
                    "type": "string"
                },
                "pairname": {
                    "type": "string"
                }
            }
        }
    }
}