
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Gate.io"
    },
    "host": "xchange-gateio.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/api2/1/marketinfo": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioMarketInfoWrapper"
                        }
                    }
                }
            }
        },
        "/api2/1/orderBook/{ident}_{currency}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "ident",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioDepth"
                        }
                    }
                }
            }
        },
        "/api2/1/orderBooks": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api2/1/pairs": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioCurrencyPairs"
                        }
                    }
                }
            }
        },
        "/api2/1/private/balances": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioFunds"
                        }
                    }
                }
            }
        },
        "/api2/1/private/buy": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "rate",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioPlaceOrderReturn"
                        }
                    }
                }
            }
        },
        "/api2/1/private/cancelAllOrders": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "type",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioBaseResponse"
                        }
                    }
                }
            }
        },
        "/api2/1/private/cancelorder": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "orderNumber",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioBaseResponse"
                        }
                    }
                }
            }
        },
        "/api2/1/private/depositAddress": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioDepositAddress"
                        }
                    }
                }
            }
        },
        "/api2/1/private/getorder": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "order_id",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioOrderStatus"
                        }
                    }
                }
            }
        },
        "/api2/1/private/openOrders": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioOpenOrders"
                        }
                    }
                }
            }
        },
        "/api2/1/private/sell": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "rate",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioPlaceOrderReturn"
                        }
                    }
                }
            }
        },
        "/api2/1/private/tradeHistory": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioTradeHistoryReturn"
                        }
                    }
                }
            }
        },
        "/api2/1/private/withdraw": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioBaseResponse"
                        }
                    }
                }
            }
        },
        "/api2/1/ticker/{ident}_{currency}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "ident",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioTicker"
                        }
                    }
                }
            }
        },
        "/api2/1/tickers": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api2/1/trade/{ident}_{currency}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "ident",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioTradeHistory"
                        }
                    }
                }
            }
        },
        "/api2/1/trade/{ident}_{currency}/{tradeId}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "ident",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "tradeId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GateioTradeHistory"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Currency": {
            "properties": {
                "codeCurrency": {
                    "$ref": "#/definitions/Currency"
                },
                "commonlyUsedCurrency": {
                    "$ref": "#/definitions/Currency"
                },
                "currencyCode": {
                    "type": "string"
                },
                "currencyCodes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "displayName": {
                    "type": "string"
                },
                "iso4217Currency": {
                    "$ref": "#/definitions/Currency"
                },
                "symbol": {
                    "type": "string"
                }
            }
        },
        "CurrencyPair": {
            "properties": {
                "base": {
                    "$ref": "#/definitions/Currency"
                },
                "counter": {
                    "$ref": "#/definitions/Currency"
                }
            }
        },
        "GateioBaseResponse": {
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean"
                }
            }
        },
        "GateioCurrencyPairs": {
            "properties": {
                "pairs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CurrencyPair"
                    }
                }
            }
        },
        "GateioDepositAddress": {
            "properties": {
                "addressTag": {
                    "type": "string"
                },
                "baseAddress": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean"
                }
            }
        },
        "GateioDepth": {
            "properties": {
                "asks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/GateioPublicOrder"
                    }
                },
                "bids": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/GateioPublicOrder"
                    }
                },
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean"
                }
            }
        },
        "GateioFunds": {
            "properties": {
                "availableFunds": {
                    "type": "object"
                },
                "lockedFunds": {
                    "type": "object"
                },
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean"
                }
            }
        },
        "GateioMarketInfoWrapper": {
            "properties": {
                "marketInfoMap": {
                    "type": "object"
                }
            }
        },
        "GateioOpenOrder": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "currencyPair": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "orderNumber": {
                    "type": "string"
                },
                "rate": {
                    "type": "number"
                },
                "status": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "string"
                },
                "total": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "GateioOpenOrders": {
            "properties": {
                "message": {
                    "type": "string"
                },
                "orders": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/GateioOpenOrder"
                    }
                },
                "result": {
                    "type": "boolean"
                }
            }
        },
        "GateioOrderStatus": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "currencyPair": {
                    "$ref": "#/definitions/CurrencyPair"
                },
                "id": {
                    "type": "string"
                },
                "initialAmount": {
                    "type": "number"
                },
                "initialRate": {
                    "type": "number"
                },
                "message": {
                    "type": "string"
                },
                "rate": {
                    "type": "number"
                },
                "result": {
                    "type": "boolean"
                },
                "status": {
                    "type": "string"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "BUY",
                        "SELL"
                    ]
                }
            }
        },
        "GateioPlaceOrderReturn": {
            "properties": {
                "message": {
                    "type": "string"
                },
                "orderId": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean"
                }
            }
        },
        "GateioPublicOrder": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "price": {
                    "type": "number"
                }
            }
        },
        "GateioTicker": {
            "properties": {
                "baseVolume": {
                    "type": "number"
                },
                "high24hr": {
                    "type": "number"
                },
                "highestBid": {
                    "type": "number"
                },
                "last": {
                    "type": "number"
                },
                "low24hr": {
                    "type": "number"
                },
                "lowestAsk": {
                    "type": "number"
                },
                "message": {
                    "type": "string"
                },
                "percentChange": {
                    "type": "number"
                },
                "quoteVolume": {
                    "type": "number"
                },
                "result": {
                    "type": "boolean"
                }
            }
        },
        "GateioTrade": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "orderid": {
                    "type": "string"
                },
                "pair": {
                    "type": "string"
                },
                "rate": {
                    "type": "number"
                },
                "time": {
                    "type": "string"
                },
                "timeUnix": {
                    "type": "integer"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "BUY",
                        "SELL"
                    ]
                }
            }
        },
        "GateioTradeHistory": {
            "properties": {
                "elapsed": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean"
                },
                "trades": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/GateioTradeHistory$GateioPublicTrade"
                    }
                }
            }
        },
        "GateioTradeHistory$GateioPublicTrade": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "date": {
                    "type": "integer"
                },
                "price": {
                    "type": "number"
                },
                "tradeId": {
                    "type": "string"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "BUY",
                        "SELL"
                    ]
                }
            }
        },
        "GateioTradeHistoryReturn": {
            "properties": {
                "message": {
                    "type": "string"
                },
                "msg": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean"
                },
                "trades": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/GateioTrade"
                    }
                }
            }
        }
    }
}