
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange GDAX"
    },
    "host": "xchange-gdax.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/accounts": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXAccount"
                        }
                    }
                }
            }
        },
        "/accounts/{account_id}/ledger": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "account_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "after",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Map"
                            }
                        }
                    }
                }
            }
        },
        "/accounts/{account_id}/transactions": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "account_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GDAXSendMoneyRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXSendMoneyResponse"
                        }
                    }
                }
            }
        },
        "/accounts/{account_id}/transfers": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "account_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "after",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "profile_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Object"
                            }
                        }
                    }
                }
            }
        },
        "/coinbase-accounts": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXCoinbaseAccount"
                        }
                    }
                }
            }
        },
        "/coinbase-accounts/{account_id}/addresses": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "account_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXCoinbaseAccountAddress"
                        }
                    }
                }
            }
        },
        "/fills": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "after",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "order_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "product_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXFill"
                        }
                    }
                }
            }
        },
        "/orders": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXOrder"
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GDAXPlaceOrder"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXIdResponse"
                        }
                    }
                }
            }
        },
        "/orders/{id}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXOrder_2"
                        }
                    }
                }
            },
            "delete": {
                "consumes": [
                ],
                "produces": [
                    "text/plain"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {
                        }
                    }
                }
            }
        },
        "/orders?status={status}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "status",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXOrder"
                        }
                    }
                }
            }
        },
        "/products": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXProduct"
                        }
                    }
                }
            }
        },
        "/products/{baseCurrency}-{targetCurrency}/book?level={level}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "baseCurrency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "level",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "targetCurrency",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXProductBook"
                        }
                    }
                }
            }
        },
        "/products/{baseCurrency}-{targetCurrency}/candles": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "baseCurrency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "targetCurrency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "granularity",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "start",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXCandle"
                        }
                    }
                }
            }
        },
        "/products/{baseCurrency}-{targetCurrency}/stats": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "baseCurrency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "targetCurrency",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXProductStats"
                        }
                    }
                }
            }
        },
        "/products/{baseCurrency}-{targetCurrency}/ticker": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "baseCurrency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "targetCurrency",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXProductTicker"
                        }
                    }
                }
            }
        },
        "/products/{baseCurrency}-{targetCurrency}/trades": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "baseCurrency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "targetCurrency",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXTrade"
                        }
                    }
                }
            }
        },
        "/reports": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GDAX$GDAXReportRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/reports/{report_id}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "report_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/self/verify": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/JsonNode"
                        }
                    }
                }
            }
        },
        "/withdrawals/crypto": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "CB-ACCESS-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-PASSPHRASE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-SIGN",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "CB-ACCESS-TIMESTAMP",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GDAXWithdrawFundsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/GDAXWithdrawCryptoResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "GDAX$GDAXReportRequest": {
            "properties": {
                "accountId": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "endDate": {
                    "type": "string"
                },
                "format": {
                    "type": "string"
                },
                "productId": {
                    "type": "string"
                },
                "startDate": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "GDAXAccount": {
            "properties": {
                "available": {
                    "type": "number"
                },
                "balance": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                },
                "hold": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "profile_id": {
                    "type": "string"
                }
            }
        },
        "GDAXCandle": {
            "properties": {
                "close": {
                    "type": "number"
                },
                "high": {
                    "type": "number"
                },
                "low": {
                    "type": "number"
                },
                "open": {
                    "type": "number"
                },
                "time": {
                    "type": "object"
                },
                "volume": {
                    "type": "number"
                }
            }
        },
        "GDAXCoinbaseAccount": {
            "properties": {
                "active": {
                    "type": "boolean"
                },
                "balance": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "primaryAccount": {
                    "type": "boolean"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "GDAXCoinbaseAccountAddress": {
            "properties": {
                "address": {
                    "type": "string"
                },
                "callbackUrl": {
                    "type": "string"
                },
                "createDate": {
                    "type": "string"
                },
                "exchangeDepositAddress": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "network": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "resourcePath": {
                    "type": "string"
                },
                "updateDate": {
                    "type": "string"
                }
            }
        },
        "GDAXFill": {
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "fee": {
                    "type": "number"
                },
                "liquidity": {
                    "type": "string"
                },
                "orderId": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "productId": {
                    "type": "string"
                },
                "settled": {
                    "type": "boolean"
                },
                "side": {
                    "type": "string"
                },
                "size": {
                    "type": "number"
                },
                "tradeId": {
                    "type": "string"
                }
            }
        },
        "GDAXIdResponse": {
            "properties": {
                "id": {
                    "type": "string"
                }
            }
        },
        "GDAXOrder": {
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "doneAt": {
                    "type": "string"
                },
                "doneReason": {
                    "type": "string"
                },
                "executedvalue": {
                    "type": "number"
                },
                "fillFees": {
                    "type": "number"
                },
                "filledSize": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "productId": {
                    "type": "string"
                },
                "settled": {
                    "type": "boolean"
                },
                "side": {
                    "type": "string"
                },
                "size": {
                    "type": "number"
                },
                "status": {
                    "type": "string"
                },
                "stop": {
                    "type": "string"
                },
                "stopPrice": {
                    "type": "number"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "GDAXOrder_2": {
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "doneAt": {
                    "type": "string"
                },
                "doneReason": {
                    "type": "string"
                },
                "executedvalue": {
                    "type": "number"
                },
                "fillFees": {
                    "type": "number"
                },
                "filledSize": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "productId": {
                    "type": "string"
                },
                "settled": {
                    "type": "boolean"
                },
                "side": {
                    "type": "string"
                },
                "size": {
                    "type": "number"
                },
                "status": {
                    "type": "string"
                },
                "stop": {
                    "type": "string"
                },
                "stopPrice": {
                    "type": "number"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "GDAXPlaceOrder": {
            "properties": {
                "clientOid": {
                    "type": "string"
                },
                "productId": {
                    "type": "string"
                },
                "side": {
                    "type": "string",
                    "enum": [
                        "buy",
                        "sell"
                    ]
                },
                "stop": {
                    "type": "string",
                    "enum": [
                        "entry",
                        "loss"
                    ]
                },
                "stopPrice": {
                    "type": "number"
                },
                "stp": {
                    "type": "string",
                    "enum": [
                        "cb",
                        "cn",
                        "co",
                        "dc"
                    ]
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "limit",
                        "market"
                    ]
                }
            }
        },
        "GDAXProduct": {
            "properties": {
                "baseCurrency": {
                    "type": "string"
                },
                "baseMaxSize": {
                    "type": "number"
                },
                "baseMinSize": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "quoteIncrement": {
                    "type": "number"
                },
                "targetCurrency": {
                    "type": "string"
                }
            }
        },
        "GDAXProductBook": {
            "properties": {
                "asks": {
                    "$ref": "#/definitions/GDAXProductBookEntry"
                },
                "bestAsk": {
                    "$ref": "#/definitions/GDAXProductBookEntry_2"
                },
                "bestBid": {
                    "$ref": "#/definitions/GDAXProductBookEntry_2"
                },
                "bids": {
                    "$ref": "#/definitions/GDAXProductBookEntry"
                },
                "sequence": {
                    "type": "integer"
                }
            }
        },
        "GDAXProductBookEntry": {
            "properties": {
                "price": {
                    "type": "number"
                },
                "volume": {
                    "type": "number"
                }
            }
        },
        "GDAXProductBookEntry_2": {
            "properties": {
                "price": {
                    "type": "number"
                },
                "volume": {
                    "type": "number"
                }
            }
        },
        "GDAXProductStats": {
            "properties": {
                "high": {
                    "type": "number"
                },
                "low": {
                    "type": "number"
                },
                "open": {
                    "type": "number"
                },
                "volume": {
                    "type": "number"
                }
            }
        },
        "GDAXProductTicker": {
            "properties": {
                "ask": {
                    "type": "number"
                },
                "bid": {
                    "type": "number"
                },
                "price": {
                    "type": "number"
                },
                "size": {
                    "type": "number"
                },
                "time": {
                    "type": "string"
                },
                "tradeId": {
                    "type": "string"
                },
                "volume": {
                    "type": "number"
                }
            }
        },
        "GDAXSendMoneyRequest": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                },
                "to": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "GDAXSendMoneyResponse": {
            "properties": {
                "data": {
                    "$ref": "#/definitions/GDAXSendMoneyResponse$Data"
                }
            }
        },
        "GDAXSendMoneyResponse$Data": {
            "properties": {
                "id": {
                    "type": "string"
                }
            }
        },
        "GDAXTrade": {
            "properties": {
                "price": {
                    "type": "number"
                },
                "side": {
                    "type": "string"
                },
                "size": {
                    "type": "number"
                },
                "timestamp": {
                    "type": "string"
                },
                "tradeId": {
                    "type": "integer"
                }
            }
        },
        "GDAXWithdrawCryptoResponse": {
            "properties": {
                "amount": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            }
        },
        "GDAXWithdrawFundsRequest": {
            "properties": {
                "address": {
                    "type": "string"
                },
                "amount": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                }
            }
        },
        "JsonNode": {
            "properties": {
                "array": {
                    "type": "boolean"
                },
                "bigDecimal": {
                    "type": "boolean"
                },
                "bigInteger": {
                    "type": "boolean"
                },
                "binary": {
                    "type": "boolean"
                },
                "boolean": {
                    "type": "boolean"
                },
                "containerNode": {
                    "type": "boolean"
                },
                "double": {
                    "type": "boolean"
                },
                "empty": {
                    "type": "boolean"
                },
                "float": {
                    "type": "boolean"
                },
                "floatingPointNumber": {
                    "type": "boolean"
                },
                "int": {
                    "type": "boolean"
                },
                "integralNumber": {
                    "type": "boolean"
                },
                "long": {
                    "type": "boolean"
                },
                "missingNode": {
                    "type": "boolean"
                },
                "nodeType": {
                    "type": "string",
                    "enum": [
                        "ARRAY",
                        "BINARY",
                        "BOOLEAN",
                        "MISSING",
                        "NULL",
                        "NUMBER",
                        "OBJECT",
                        "POJO",
                        "STRING"
                    ]
                },
                "null": {
                    "type": "boolean"
                },
                "number": {
                    "type": "boolean"
                },
                "object": {
                    "type": "boolean"
                },
                "pojo": {
                    "type": "boolean"
                },
                "short": {
                    "type": "boolean"
                },
                "textual": {
                    "type": "boolean"
                },
                "valueNode": {
                    "type": "boolean"
                }
            }
        },
        "Map": {
            "properties": {
            }
        },
        "Object": {
            "properties": {
            }
        }
    }
}