
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Huobi"
    },
    "host": "xchange-huobi.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/market/detail/merged": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/HuobiTickerResult"
                        }
                    }
                }
            }
        },
        "/v1/account/accounts": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "AccessKeyId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Signature",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SignatureMethod",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "SignatureVersion",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Timestamp",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/HuobiAccountResult"
                        }
                    }
                }
            }
        },
        "/v1/account/accounts/{account-id}/balance": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "account-id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "AccessKeyId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Signature",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SignatureMethod",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "SignatureVersion",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Timestamp",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/HuobiBalanceResult"
                        }
                    }
                }
            }
        },
        "/v1/common/currencys": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/HuobiAssetsResult"
                        }
                    }
                }
            }
        },
        "/v1/common/symbols": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/HuobiAssetPairsResult"
                        }
                    }
                }
            }
        },
        "/v1/order/orders": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "AccessKeyId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Signature",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SignatureMethod",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "SignatureVersion",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Timestamp",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "states",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/HuobiOrdersResult"
                        }
                    }
                }
            }
        },
        "/v1/order/orders/place": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "AccessKeyId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Signature",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SignatureMethod",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "SignatureVersion",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Timestamp",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HuobiCreateOrderRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/HuobiOrderResult"
                        }
                    }
                }
            }
        },
        "/v1/order/orders/{order-id}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "order-id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "AccessKeyId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Signature",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SignatureMethod",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "SignatureVersion",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Timestamp",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/HuobiOrderInfoResult"
                        }
                    }
                }
            }
        },
        "/v1/order/orders/{order-id}/submitcancel": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "order-id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "AccessKeyId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Signature",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "SignatureMethod",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "SignatureVersion",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Timestamp",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/HuobiCancelOrderResult"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "HuobiAccountResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "HuobiAssetPairsResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "HuobiAssetsResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "HuobiBalanceResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "HuobiCancelOrderResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "HuobiCreateOrderRequest": {
            "properties": {
                "accountId": {
                    "type": "string"
                },
                "amount": {
                    "type": "string"
                },
                "price": {
                    "type": "string"
                },
                "source": {
                    "type": "string"
                },
                "symbol": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "HuobiOrderInfoResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "HuobiOrderResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "HuobiOrdersResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "HuobiTickerResult": {
            "properties": {
                "ch": {
                    "type": "string"
                },
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                },
                "ts": {
                    "type": "object"
                }
            }
        }
    }
}