
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Kraken"
    },
    "host": "xchange-kraken.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "0"
        }
    ],
    "paths": {
        "/0/private/AddOrder": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "close",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "expiretm",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "leverage",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "oflags",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "ordertype",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "position",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price2",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "starttm",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "type",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "userref",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "name": "validate",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "volume",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenOrderResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/Balance": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenBalanceResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/CancelOrder": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "txid",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenCancelOrderResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/ClosedOrders": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "closetime",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "end",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "ofs",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "start",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "name": "trades",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "userref",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenClosedOrdersResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/DepositAddresses": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "aclass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "asset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "method",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenDepositAddressResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/DepositMethods": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "aclass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "asset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenDepositMethodsResults"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/DepositStatus": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "aclass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "asset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "method",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/DepositStatusResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/Ledgers": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "aclass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "asset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "end",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "ofs",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "start",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "type",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenLedgerResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/OpenOrders": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "name": "trades",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "userref",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenOpenOrdersResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/OpenPositions": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "name": "docalcs",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "txid",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenOpenPositionsResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/QueryLedgers": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenQueryLedgerResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/QueryOrders": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "name": "trades",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "txid",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "userref",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenQueryOrderResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/QueryTrades": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "name": "trades",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "txid",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenQueryTradeResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/TradeBalance": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "aclass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "asset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenTradeBalanceInfoResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/TradeVolume": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenTradeVolumeResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/TradesHistory": {
            "post": {
                "description": "Get trades history",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "end",
                        "in": "formData",
                        "required": true,
                        "description": "ending unix timestamp or trade tx id of results (optional. inclusive)"
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "ofs",
                        "in": "formData",
                        "required": true,
                        "description": "result offset"
                    },
                    {
                        "type": "integer",
                        "name": "start",
                        "in": "formData",
                        "required": true,
                        "description": "starting unix timestamp or trade tx id of results (optional. exclusive)"
                    },
                    {
                        "type": "boolean",
                        "name": "trades",
                        "in": "formData",
                        "required": true,
                        "description": "whether or not to include trades related to position in output (optional.     default = false)"
                    },
                    {
                        "type": "string",
                        "name": "type",
                        "in": "formData",
                        "required": true,
                        "description": "ype = type of trade (optional) all = all types (default) any position = any     position (open or closed) closed position = positions that have been closed closing     position = any trade closing all or part of a position no position = non-positional trades"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenTradeHistoryResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/Withdraw": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "aclass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "asset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/WithdrawResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/WithdrawInfo": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "aclass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "asset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "key",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/WithdrawInfoResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/private/WithdrawStatus": {
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "API-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "API-Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "aclass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "asset",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "method",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/WithdrawStatusResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/public/AssetPairs": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenAssetPairsResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/public/Assets": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "aclass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "asset",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenAssetsResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/public/Depth": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "name": "count",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenDepthResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/public/OHLC": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "name": "interval",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "since",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenOHLCResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/public/Spread": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "since",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenSpreadsResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/public/Ticker": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenTickerResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/public/Time": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenServerTimeResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        },
        "/0/public/Trades": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "since",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KrakenPublicTradesResult"
                        }
                    }
                },
                "tags": [
                    "0"
                ]
            }
        }
    },
    "definitions": {
        "DepositStatusResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenAssetPairsResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenAssetsResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenBalanceResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenCancelOrderResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenClosedOrdersResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenDepositAddressResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenDepositMethodsResults": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenDepthResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenLedgerResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenOHLCResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenOpenOrdersResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenOpenPositionsResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenOrderResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenPublicTradesResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenQueryLedgerResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenQueryOrderResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenQueryTradeResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenServerTimeResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenSpreadsResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenTickerResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenTradeBalanceInfoResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenTradeHistoryResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "KrakenTradeVolumeResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "String": {
            "properties": {
                "bytes": {
                    "$ref": "#/definitions/["
                },
                "empty": {
                    "type": "boolean"
                }
            }
        },
        "WithdrawInfoResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "WithdrawResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "WithdrawStatusResult": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/String"
                },
                "result": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "[": {
            "properties": {
            }
        }
    }
}