
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Kucoin"
    },
    "host": "xchange-kucoin.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/v1/account/balances": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KC-API-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-NONCE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-SIGNATURE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "page",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinCoinBalances;>"
                        }
                    }
                }
            }
        },
        "/v1/account/{coin}/wallet/address": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "coin",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-NONCE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-SIGNATURE",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinDepositAddress;>"
                        }
                    }
                }
            }
        },
        "/v1/account/{coin}/wallet/records": {
            "get": {
                "description": "Retrieve funding history (deposit and withdrawal history)",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "coin",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-NONCE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-SIGNATURE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "status",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "type",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinWalletRecords;>"
                        }
                    }
                }
            }
        },
        "/v1/account/{coin}/withdraw/apply": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "coin",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-NONCE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-SIGNATURE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "address",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Object;>"
                        }
                    }
                }
            }
        },
        "/v1/cancel-order": {
            "post": {
                "description": "Cancels an order.",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KC-API-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-NONCE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-SIGNATURE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "orderOid",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "enum": [
                            "BUY",
                            "SELL"
                        ],
                        "name": "type",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinOrder;>"
                        }
                    }
                }
            }
        },
        "/v1/market/open/coins": {
            "get": {
                "description": "Retrieves a list of all coins.",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinCoin;>;>"
                        }
                    }
                }
            }
        },
        "/v1/open/deal-orders": {
            "get": {
                "description": "This is the call for recent trades.",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query",
                        "required": true,
                        "description": "limit list of trades to this length"
                    },
                    {
                        "type": "integer",
                        "name": "since",
                        "in": "query",
                        "required": true,
                        "description": "only retrieve trades since this datetime (couldnt get it to work tho)"
                    },
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "query",
                        "required": true,
                        "description": "the currency pair"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinDealOrder;>;>"
                        }
                    }
                }
            }
        },
        "/v1/open/orders": {
            "get": {
                "description": "The call for order books",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "name": "group",
                        "in": "query",
                        "required": true,
                        "description": "???"
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query",
                        "required": true,
                        "description": "order book length limit"
                    },
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "query",
                        "required": true,
                        "description": "the currency pair"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinOrderBook;>"
                        }
                    }
                }
            }
        },
        "/v1/open/tick": {
            "get": {
                "description": "Retrieves a ticker.\nRetrieves all tickers.",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "query",
                        "required": true,
                        "description": "the currency pair"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinTicker;>;>"
                        }
                    }
                }
            }
        },
        "/v1/order": {
            "post": {
                "description": "Places a limit order.",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KC-API-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-NONCE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-SIGNATURE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "enum": [
                            "BUY",
                            "SELL"
                        ],
                        "name": "type",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinOrder;>"
                        }
                    }
                }
            }
        },
        "/v1/order/active": {
            "get": {
                "description": "Lists all active orders for a currency pair.",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KC-API-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-NONCE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-SIGNATURE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "enum": [
                            "BUY",
                            "SELL"
                        ],
                        "name": "type",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinActiveOrders;>"
                        }
                    }
                }
            }
        },
        "/v1/order/dealt": {
            "get": {
                "description": "Returns the trade history.",
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "KC-API-KEY",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-NONCE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "KC-API-SIGNATURE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "before",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "since",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "enum": [
                            "BUY",
                            "SELL"
                        ],
                        "name": "type",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/KucoinDealtOrdersInfo;>"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "KucoinActiveOrders;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "KucoinCoin;>;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "KucoinCoinBalances;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "KucoinDealOrder;>;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "KucoinDealtOrdersInfo;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "KucoinDepositAddress;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "KucoinOrder;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "KucoinOrderBook;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "KucoinTicker;>;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "KucoinWalletRecords;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                },
                "msg": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "Object;>": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                }
            }
        }
    }
}