
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange LakeBTC"
    },
    "host": "xchange-lakebtc.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/api_v1": {
            "post": {
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Json-Rpc-Tonce",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LakeBTCCancelRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LakeBTCCancelResponse"
                        }
                    }
                }
            }
        },
        "/api_v2/bcorderbook?symbol={pair}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LakeBTCOrderBook"
                        }
                    }
                }
            }
        },
        "/api_v2/ticker": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "BigDecimal": {
            "properties": {
            }
        },
        "LakeBTCCancelRequest": {
            "properties": {
                "accessKey": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "method": {
                    "type": "string"
                },
                "params": {
                    "type": "string"
                },
                "requestMethod": {
                    "type": "string"
                },
                "tonce": {
                    "type": "integer"
                }
            }
        },
        "LakeBTCCancelResponse": {
            "properties": {
                "id": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                }
            }
        },
        "LakeBTCOrderBook": {
            "properties": {
                "asks": {
                    "$ref": "#/definitions/BigDecimal"
                },
                "bids": {
                    "$ref": "#/definitions/BigDecimal"
                }
            }
        }
    }
}