
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Liqui"
    },
    "host": "xchange-liqui.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/api/3/depth/{pairs}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pairs",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LiquiDepthResult"
                        }
                    }
                }
            }
        },
        "/api/3/info": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LiquiInfoResult"
                        }
                    }
                }
            }
        },
        "/api/3/ticker/{pairs}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pairs",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LiquiTickersResult"
                        }
                    }
                }
            }
        },
        "/api/3/trades/{pairs}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "pairs",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LiquiPublicTradesResult"
                        }
                    }
                }
            }
        },
        "/tapi": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "count",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "end",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "end_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "from",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "method",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "order",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "order_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "rate",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "since",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "type",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LiquiTradeHistoryResult"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "LiquiDepthResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                }
            }
        },
        "LiquiInfoResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "serverTime": {
                    "type": "integer"
                }
            }
        },
        "LiquiPublicTradesResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                }
            }
        },
        "LiquiStat": {
            "properties": {
                "errors": {
                    "type": "string"
                },
                "serverTime": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                },
                "time": {
                    "type": "string"
                }
            }
        },
        "LiquiTickersResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                }
            }
        },
        "LiquiTradeHistoryResult": {
            "properties": {
                "error": {
                    "type": "string"
                },
                "result": {
                    "type": "object"
                },
                "stat": {
                    "$ref": "#/definitions/LiquiStat"
                },
                "success": {
                    "type": "boolean"
                }
            }
        }
    }
}