
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Livecoin"
    },
    "host": "xchange-livecoin.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "exchange"
        },
        {
            "name": "payment"
        }
    ],
    "paths": {
        "/exchange/all/order_book?depth={depth}&groupByPrice={groupByPrice}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "name": "depth",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "groupByPrice",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/buylimit": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "quantity",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/buymarket": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "quantity",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/cancellimit": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "orderId",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/client_orders": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "endRow",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "issuedFrom",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "issuedTo",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "openClosed",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "startRow",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LivecoinPaginatedResponse"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/last_trades?currencyPair={baseCurrency}/{targetCurrency}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "baseCurrency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "targetCurrency",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LivecoinTrade"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/order_book?currencyPair={baseCurrency}/{targetCurrency}&depth={depth}&groupByPrice={groupByPrice}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "baseCurrency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "depth",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "groupByPrice",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "targetCurrency",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LivecoinOrderBook"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/restrictions": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LivecoinRestrictions"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/selllimit": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "price",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "quantity",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/sellmarket": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currencyPair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "quantity",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/ticker": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LivecoinTicker"
                            }
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/exchange/ticker?currencyPair={baseCurrency}/{targetCurrency}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "baseCurrency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "targetCurrency",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/LivecoinTicker"
                        }
                    }
                },
                "tags": [
                    "exchange"
                ]
            }
        },
        "/payment/balances": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Map"
                            }
                        }
                    }
                },
                "tags": [
                    "payment"
                ]
            }
        },
        "/payment/get/address": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "payment"
                ]
            }
        },
        "/payment/history/transactions": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "offset",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "types",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Map"
                            }
                        }
                    }
                },
                "tags": [
                    "payment"
                ]
            }
        },
        "/payment/out/capitalist": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "wallet",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>"
                        }
                    }
                },
                "tags": [
                    "payment"
                ]
            }
        },
        "/payment/out/card": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "card_number",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "expiry_month",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "expiry_year",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>"
                        }
                    }
                },
                "tags": [
                    "payment"
                ]
            }
        },
        "/payment/out/coin": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "wallet",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>"
                        }
                    }
                },
                "tags": [
                    "payment"
                ]
            }
        },
        "/payment/out/okpay": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "invoice",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "wallet",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>"
                        }
                    }
                },
                "tags": [
                    "payment"
                ]
            }
        },
        "/payment/out/payeer": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "protect",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "protect_code",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "protect_period",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "wallet",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>"
                        }
                    }
                },
                "tags": [
                    "payment"
                ]
            }
        },
        "/payment/out/perfectmoney": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Api-key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "protect_code",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "protect_period",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "wallet",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/Map;>"
                        }
                    }
                },
                "tags": [
                    "payment"
                ]
            }
        }
    },
    "definitions": {
        "LivecoinAsksBidsData": {
            "properties": {
                "quantity": {
                    "type": "number"
                },
                "rate": {
                    "type": "number"
                }
            }
        },
        "LivecoinOrderBook": {
            "properties": {
                "asks": {
                    "$ref": "#/definitions/LivecoinAsksBidsData"
                },
                "bids": {
                    "$ref": "#/definitions/LivecoinAsksBidsData"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "LivecoinPaginatedResponse": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "endRow": {
                    "type": "integer"
                },
                "errorCode": {
                    "type": "integer"
                },
                "errorMessage": {
                    "type": "string"
                },
                "startRow": {
                    "type": "integer"
                },
                "success": {
                    "type": "boolean"
                },
                "totalRows": {
                    "type": "integer"
                }
            }
        },
        "LivecoinRestriction": {
            "properties": {
                "currencyPair": {
                    "type": "string"
                },
                "minLimitQuantity": {
                    "type": "number"
                },
                "priceScale": {
                    "type": "integer"
                }
            }
        },
        "LivecoinRestrictions": {
            "properties": {
                "restrictions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/LivecoinRestriction"
                    }
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "LivecoinTicker": {
            "properties": {
                "bestAsk": {
                    "type": "number"
                },
                "bestBid": {
                    "type": "number"
                },
                "cur": {
                    "type": "string"
                },
                "high": {
                    "type": "number"
                },
                "last": {
                    "type": "number"
                },
                "low": {
                    "type": "number"
                },
                "maxBid": {
                    "type": "number"
                },
                "minAsk": {
                    "type": "number"
                },
                "symbol": {
                    "type": "string"
                },
                "volume": {
                    "type": "number"
                },
                "vwap": {
                    "type": "number"
                }
            }
        },
        "LivecoinTrade": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "price": {
                    "type": "number"
                },
                "quantity": {
                    "type": "number"
                },
                "time": {
                    "type": "integer"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "Map": {
            "properties": {
            }
        },
        "Map;>": {
            "properties": {
                "data": {
                    "type": "object"
                },
                "errorCode": {
                    "type": "integer"
                },
                "errorMessage": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        }
    }
}