
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange Vircurex"
    },
    "host": "xchange-vircurex.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "api"
        }
    ],
    "paths": {
        "/api/create_order.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "account",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency1",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "currency2",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "ordertype",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "token",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "unitprice",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/VircurexPlaceOrderReturn"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/get_balances.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "account",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "token",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/VircurexAccountInfoReturn"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/get_last_trade.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "alt",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "base",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/VircurexLastTrade"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/orderbook.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "alt",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "base",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/VircurexDepth"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/read_orders.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "account",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "otype",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "token",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/VircurexOpenOrdersReturn"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/release_order.json": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "account",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "orderid",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "token",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/VircurexPlaceOrderReturn"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        }
    },
    "definitions": {
        "BigDecimal": {
            "properties": {
            }
        },
        "VircurexAccountInfoReturn": {
            "properties": {
                "account": {
                    "type": "string"
                },
                "availableFunds": {
                    "type": "object"
                },
                "status": {
                    "type": "integer"
                }
            }
        },
        "VircurexDepth": {
            "properties": {
                "asks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigDecimal"
                    }
                },
                "bids": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigDecimal"
                    }
                }
            }
        },
        "VircurexLastTrade": {
            "properties": {
                "alt": {
                    "type": "string"
                },
                "base": {
                    "type": "string"
                },
                "status": {
                    "type": "integer"
                },
                "value": {
                    "type": "number"
                }
            }
        },
        "VircurexOpenOrder": {
            "properties": {
                "baseCurrency": {
                    "type": "string"
                },
                "counterCurrency": {
                    "type": "string"
                },
                "lastChangedDate": {
                    "type": "string"
                },
                "openQuantity": {
                    "type": "number"
                },
                "orderId": {
                    "type": "string"
                },
                "orderType": {
                    "type": "string"
                },
                "quantity": {
                    "type": "number"
                },
                "releaseDate": {
                    "type": "string"
                },
                "unitPrice": {
                    "type": "number"
                }
            }
        },
        "VircurexOpenOrdersReturn": {
            "properties": {
                "function": {
                    "type": "string"
                },
                "openOrders": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/VircurexOpenOrder"
                    }
                },
                "orderCount": {
                    "type": "integer"
                },
                "status": {
                    "type": "integer"
                },
                "timeStamp": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "userName": {
                    "type": "string"
                }
            }
        },
        "VircurexPlaceOrderReturn": {
            "properties": {
                "orderId": {
                    "type": "string"
                }
            }
        }
    }
}