
{
    "swagger": "2.0",
    "info": {
        "version": "4.3.6-SNAPSHOT",
        "title": "XChange YoBit"
    },
    "host": "xchange-yobit.changeme",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "api"
        },
        {
            "name": "tapi"
        }
    ],
    "paths": {
        "/api/3/depth/{currencyPairs}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPairs",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/YoBitOrderBooksReturn"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/3/info": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/YoBitInfo"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/3/ticker/{currencyPairs}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPairs",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/YoBitTickersReturn"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/3/trades/{currencyPairs}": {
            "get": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "currencyPairs",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/YoBitTrades"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/tapi": {
            "post": {
                "consumes": [
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "Sign",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "amount",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "coinName",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "count",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "end",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "end_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "form",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "from_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "method",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "name": "need_new",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "nonce",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "order",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "order_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "pair",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "rate",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "name": "since",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "type",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                        },
                        "schema": {
                            "$ref": "#/definitions/BaseYoBitResponse"
                        }
                    }
                },
                "tags": [
                    "tapi"
                ]
            }
        }
    },
    "definitions": {
        "BaseYoBitResponse": {
            "properties": {
                "returnData": {
                    "type": "object"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "YoBitInfo": {
            "properties": {
                "pairs": {
                    "$ref": "#/definitions/YoBitPairs"
                },
                "server_time": {
                    "type": "integer"
                }
            }
        },
        "YoBitOrderBooksReturn": {
            "properties": {
                "orderBooks": {
                    "type": "object"
                }
            }
        },
        "YoBitPairs": {
            "properties": {
                "price": {
                    "type": "object"
                }
            }
        },
        "YoBitTickersReturn": {
            "properties": {
                "tickers": {
                    "type": "object"
                }
            }
        },
        "YoBitTrades": {
            "properties": {
                "trades": {
                    "type": "object"
                }
            }
        }
    }
}